.e{
    font-family:"Playfair Display" ;
    font-size: 30px;
    font-style: normal;
}
.te{
    font-family: "Ubuntu";
    font-size: 14px;
    font-style: normal;
}
.tey{
    font-family:"Playfair Display" ;
    font-size: 14px;
    font-style: normal;
}
.r{
    font-family:"Playfair Display" ;
    font-size: 14px;
    font-style: normal;
}